<html>
<head>
	<title>Welcome to Diaverse.</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
<div class="hero">
	<div class="form-box">
		<h3 style="text-align: center;padding-top: 25px">Diaverse Hardware Login</h3>
		<h4 style="text-align: center;color:red;padding-top: 25px">Invalid Login</h4>
		<form id="login" class="input-group" action="/listScripts">
			<input type="text" class="input-field" name="AuthToken" placeholder="Hardware Token" required>
			<button type="submit" class="submit-btn"> Log in</button>
		</form>


		<form id="login" class="input-group" action="/register">
			<input type="text" class="input-field" name="username" placeholder="User ID" required>
			<input type="text" class="input-field" name="AuthToken" placeholder="Access Token" required>
			<button type="submit" class="submit-btn"> register </button>
		</form>
	</div>
</div>
</body>
</html>
