<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>***REMOVED******REMOVED***.Title***REMOVED******REMOVED***</title>
</head>
<body>
        <div class="ScriptList">
            ***REMOVED******REMOVED***range $e := .ScriptList***REMOVED******REMOVED***
                <div class="ScriptListElement">
                    ***REMOVED******REMOVED***$e.Result***REMOVED******REMOVED***
                    ***REMOVED******REMOVED***range $w := .Cases***REMOVED******REMOVED***
                        ***REMOVED******REMOVED***$w.Responses***REMOVED******REMOVED***
                        ***REMOVED******REMOVED***$w.ExpectedOutput***REMOVED******REMOVED***
                    ***REMOVED******REMOVED***end***REMOVED******REMOVED***
                </div>
            ***REMOVED******REMOVED***end***REMOVED******REMOVED***

        </div>

</body>
</html>